<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <%- include("admin/layout/head.ejs") %>
    <!-- <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="/static/css/font-awesome-4.7.0/css/font-awesome.css"> -->
    
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>

    <div class="container">
           
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        
                        <div class="panel-title">Đăng nhập</div>
                        <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/updateuser">Đổi mật khẩu?</a></div> -->
                    </div> 
                    <div class="text-center"></div> 
                    
                    <div style="padding-top:30px" class="panel-body" >
                        <% if (data && data.error){ %>
                        <div id="login-alert" class="alert alert-danger col-sm-12" style="text-align:center">
                            <%= data.error %>
                        </div>
                        <%}%>
                        
                            <form id="loginform" class="form-horizontal" role="form" method="post" action="">
                                <input id="redirecturl" type="hidden" class="form-control" name="redirecturl" value="<% if (data && data.redirecturl&& data.redirecturl.length>0){ %><%= data.redirecturl %><%}%>"/>
                            <!-- <div class="col-lg-9 col-md-9 col-sm-9 col-xl-9">          -->
                                <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon" style="padding: 0px; padding-top:1px;">
                                                <svg style="margin-left: 5px; margin-right: 5px;" width="25px" height="25px" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                                </svg>
                                            </span>
                                            <input id="login-email" type="text" class="form-control" name="email" value="" placeholder="Tên tài khoản" maxlength="255" />                                        
                                        </div>
                                    
                                <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon" style="padding: 0px; padding-top:1px;">
                                                <svg style="margin-left: 5px; margin-right: 5px;" width="25px" height="25px" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7c0-1.1.9-2 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6c.6 0 1 .4 1 1v3a1 1 0 1 1-2 0v-3c0-.6.4-1 1-1Z" clip-rule="evenodd"/>
                                                </svg>                                                
                                            </span>
                                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Mật khẩu?" maxlength="255" />
                                        </div>
                                        
                                    <div style="margin-top:10px" class="form-group">
                                        <div class="col-sm-12 controls" style="text-align: center;">
                                        <input id="btn-login" type="submit" class="btn btn-success" style="width: 100%;" value="Đăng nhập">
                                        <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Đăng nhập bằng Facebook</a> -->
                                        </div>
                                    </div> 
                            <!-- </div>    -->
                            </form>
                             
                        </div>                     
                    </div>  
        </div>
    </div>
</body>
</html>